<div class="card">
    <div class="card-header">
        <h5>
            <i class="fas fa-futbol" style="width: 20px; height: auto; vertical-align: middle;"></i>
            {{(player.id > 0)? 'Update':'Create'}} Player
            <i class="fas fa-futbol" style="width: 20px; height: auto; vertical-align: middle;"></i>
        </h5>
    </div>
    <div class="card-body">
        <div class="form-container">
            <form (ngSubmit)="onSubmit(playerForm)" #playerForm="ngForm">
                <div>
                    <input placeholder="Name" name="name" [(ngModel)]="player.name" class="form-control my-2"
                        #name="ngModel">
                    @if(errors?.name){
                    <div class="text-danger fw-bold text-left" style="font-size: 15px;">{{errors.name}}</div>
                    }
                    <!-- FORMA DE VALIDAR CON REQUIRED, Y DIRECTAMENTE EN FRONT: -->
                    <!-- required, comentamos ya que la validacion se hace con el back-->
                    <!-- @if(name.invalid && (name.dirty || name.touched)){
                    @if(name.errors!['required']){
                    <div class="text-danger fw-bold text-left" style="font-size: 15px;">
                        The name is required...
                    </div>
                    }
                    } -->
                </div>
                <div>
                    <input placeholder="LastName" name="lastName" [(ngModel)]="player.lastName"
                        class="form-control my-2" #lastName="ngModel">
                    @if(errors?.lastName){
                    <div class="text-danger fw-bold text-left" style="font-size: 15px;">{{errors.lastName}}</div>
                    }
                </div>
                <div>
                    <input placeholder="Age" name="age" [(ngModel)]="player.age" class="form-control my-2"
                        #age="ngModel">
                    @if(errors?.age){
                    <div class="text-danger fw-bold text-left" style="font-size: 15px;">{{errors.age}}</div>
                    }
                </div>
                <div>
                    <input placeholder="Nation" name="nationality" [(ngModel)]="player.nationality"
                        class="form-control my-2" #nationality="ngModel">
                    @if(errors?.nationality){
                    <div class="text-danger fw-bold text-left" style="font-size: 15px;">{{errors.nationality}}</div>
                    }
                </div>
                <div>
                    <input placeholder="Number" name="number" type="number" [(ngModel)]="player.number"
                        class="form-control my-2" #number="ngModel">
                    @if(errors?.number){
                    <div class="text-danger fw-bold text-left" style="font-size: 15px;">{{errors.number}}</div>
                    }
                </div>
                <div>
                    <input placeholder="Position" name="position" [(ngModel)]="player.position"
                        class="form-control my-1" #position="ngModel">
                    @if(errors?.position){
                    <div class="text-danger fw-bold text-left" style="font-size: 15px;">{{errors.position}}</div>
                    }
                </div>
                <div>
                    <input placeholder="Email" name="email" type="email" [(ngModel)]="player.email"
                        class="form-control my-1" #email="ngModel">
                    @if(errors?.email){
                    <div class="text-danger fw-bold text-left" style="font-size: 15px;">{{errors.email}}</div>
                    }
                </div>
                <div>
                    <input placeholder="Password" name="password" type="password" [(ngModel)]="player.password"
                        class="form-control my-1" #password="ngModel">
                    @if(errors?.password){
                    <div class="text-danger fw-bold text-left" style="font-size: 15px;">{{errors.password}}</div>
                    }
                </div>
                <div>
                    <input placeholder="Image URL" name="imageUrl" [(ngModel)]="player.imageUrl"
                        class="form-control my-1" minlength="8" #imageUrl="ngModel">
                    @if(errors?.imageUrl){
                    <div class="text-danger fw-bold text-left" style="font-size: 15px;">{{errors.imageUrl}}</div>
                    }
                </div>
                <div>
                   <button type="submit" class="btn btn-action m-2" >   <!--[disabled]="playerForm.invalid" -->
                        {{(player.id > 0)? 'UPDATE':'CREATE'}}
                    </button>
                    <button type="button" class="btn btn-clean m-2" (click)="onClear(playerForm)">
                        CLEAN
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>